<%= form_with(model: user, local: true) do |form| %>

  <div class="field form-group">
    <%= link_to "link my account", DropboxService.new(user).generate_auth_url, target: "_blank" %>
  </div>

  <div class="field form-group">
    <%= form.label :dropbox_auth_token %>
    <%= form.text_field :dropbox_auth_token, value: "" %>
  </div>

  <div class="actions form-group">
    <%= form.submit %>
  </div>
<% end %>
